.wrapper {
  flex: 1 1 0;
  min-height: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar {
}

.content {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 16px 0 0 16px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.content::-webkit-scrollbar {
  width: 8px;
  padding-top: 20px;
  margin-top: 50px;
}

.content::-webkit-scrollbar-track-piece {
  background-color: #00000000;
}

.content::-webkit-scrollbar-track {
  background: none;
  margin: 10px 0px;
}

.content::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
