.wrapper {
  flex: 1 1 0;
  min-height: 0;
  box-sizing: border-box;
  overflow: hidden;

}

.sidebar {}

.content {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 16px 0px 0px 16px;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-thumb {
  /* background: rgba(255, 255, 255, 0.15); */
  border-radius: 999px;
  margin: 16px 115px;
}