.sidebar {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0px 16px 16px 0px;
  width: 100px;
  padding: 10px;
  color: white;
  display: flex;
  gap: 2px;
}

.textContainer {
  display: flex;
  flex-direction: row;
  height: 24px;
  gap: 4px;
  align-items: center;
}

.textSideLine {
  background-image: linear-gradient(to bottom, rgb(118, 89, 206), rgb(160, 113, 185));
  width: 6px;
  border-radius: 99px;
  height: 100%;
}

.sidebarText {
  font-size: 12px;
}
