.rowWrapper {
  position: relative;
  height: 100%;
  display: flex;
  bottom: 5px;
  overflow: hidden;
}

.hightlightedItem {
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
  height: 100%;
}

.highlightItemContent {
  height: 100%;
  width: 100%;
}

.axisRowContent {
  flex: 1;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.axisRowContent::-webkit-scrollbar {
  width: 8px;
}

.subRowHeight {
  overflow: visible;
}
