.innerContainer {
  display: flex;
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
  color: white;
  gap: 8px;
  height: 75%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
