.labelContainer {
  color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.line {
  width: 1.8px;
  height: 14px;
  background-color: currentColor;
}
