@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;600&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(to top right, rgb(30, 30, 30), rgb(75, 60, 101));
  font-family: 'Assistant', sans-serif;


}

a {
  color: inherit;
  text-decoration: none;
}