.labelContainer {
  align-self: flex-start;
  font-size: 16px;
  line-height: 1;
  user-select: none;
  white-space: nowrap;
  color: white;
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 4px;
  align-items: center;
}

.hiddenLabel {
  visibility: hidden;
}

.hourLabel {
  font-weight: bold;
  font-size: 18px;
}
